:root {
    --main-bg:  hsl(233, 47%, 7%);
    --container-bg: hsl(244, 38%, 16%);
    --input-bg: hsl(240, 38%, 10%);
    --input-txt: hsl(0, 0%, 100%, .7);
    --btn: hsl(277, 64%, 61%);
    --btn-hover: hsl(233, 47%, 7%);
    --btn-active: hsl(0, 0%, 100%, .7);
    --h-text:  hsl(277, 64%, 61%);
}

body {
    background-color: var(--main-bg);
}
.container {
    background-color:var(--container-bg);
}
input {
    background-color: var(--input-bg);
    color: var(--input-txt);
}

.btn {
    background-color: var(--btn);
}
.btn:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
    color: var(--btn);
    border: 2px solid var(--btn);
}
.btn:active {
    color: var(--btn-active);
    border: 2px solid var(--btn);
}

h1 {
    span:nth-child(1) {
        color: var(--input-txt);
    }
    span:nth-child(2) {
        color: var(--h-text);
    }
}

.options {
    color: var(--input-txt);
    
    & div:hover {
        color: var(--btn);
        cursor: pointer;
    }

    .active {
        color: var(--btn);
        border-bottom: 2px solid var(--btn);
    }
}
