body {
    font-family: 'raleway', sans-serif;
}
h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
.container {
    font-size: 18px;
}
input {
    outline: none;
    border: none;
}
.option {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.8px;
}
.forgot {
    text-decoration: none;
}