header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;

    .home_page {
        @media (max-width: 1440px) {
            width: 8%;
        }    
        @media (max-width: 780px) {
            width: 12%;
        }
        @media (max-width: 600px) {
            width: 20%;
        }
        @media (max-width: 325px) {
            width: 25%;
        }
    }
    
    .theme_change {
        display: flex; 
        justify-content: space-around;
        align-items: center;

        @media (max-width: 1440px) {
            width: 8%;
        }
        @media (max-width: 780px) {
            width: 12%;
        }
        @media (max-width: 600px) {
            width: 20%;
        }
        @media (max-width: 425px) {
            width: 25%;
        }
        @media (max-width: 375px) {
            width: 28%;
        }
    }
}
.container {
    padding: 10px 0 20px 0;
    margin: auto;
    position: relative;
    border-radius: 12px 12px 0 0;

    @media (max-width: 1440px) {
        width: 30%;
    }
    @media (max-width: 780px) {
        width: 45%;
    }
    @media (max-width: 560px) {
        width: 95%;
    }
}
.options {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    & div {
        padding: 0 10px;
    }
}
.info_a, .info_b, .info_c {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thank_you {
    display: none;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.info_d {
    display: none;
}
.reset {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & div {
        margin-bottom: 16px;
    }
}
input {
    padding: 12px;
    border-radius: 10px;
}

.media {
    margin: auto;
    position: relative;
    border-radius: 0 0 12px 12px;
    padding-top: 18px;

    @media (max-width: 1440px) {
        width: 30%;
    }
    @media (max-width: 780px) {
        width: 45%;
    }
    @media (max-width: 560px) {
        width: 95%;
    }

    .social {
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 16px;

        & img {
            opacity: 0.7
        }

        & img:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}
.show {
    background-color:white;
    width: 20px;
    height: 20px;

    & img {
        width: 100%;
    }
    & img:hover {
        cursor: pointer;
    }
}